



main {
    max-width: 150px;

    margin: 50px auto;

    padding: 50px;
    }
    .flex-demo {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px;
    }

.card {
display: flex;
flex-flow: column;


}

.grid-demo {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
margin-top: 20px;    
}

.grid-demo > div {
background-color: brown;    

}





.card > img {
width: 100px;
background-color: rgb(255, 204, 0);
margin-left: 0px;
margin-right: 0px;
padding: 5px;
border-radius: 3px;
border:solid rgb(rgb(169, 70, 70))

}

.card > button {
margin-top: -30px;
background: rgb(0, 0, 0);
color: white;
padding: 0.5rem;
border: none;
border-radius: 3px;
font-size: 1.2rem;
font-size: 14px;


}

.card > p{
font-size: 14px;
font-weight: 900px;
font-family: 'Times New Roman', Times, serif;    
}

.card>h4
{
font-size: 24px;
margin-bottom: 0px;
padding: 0px;


}

